.Modal {
  position: fixed;
  z-index: 500;
  background-color: white;
  width: 60%;
  border: 1px solid #ccc;
  padding: 16px;
  left: 15%;
  top: 35%;
  box-sizing: border-box;
  transition: all 0.5s ease-out;
  color: #1c437e;
  display: flex;
  align-items: center;
}

@media (min-width: 662px) {
  .Modal {
    width: 500px;
    padding: 32px 48px;
    left: calc(50% - 250px);
  }
}
