.Input {
  text-align: center;
  margin: 10px;
  box-sizing: border-box;
}

.Input > input {
  border: 1px solid #dae0ea;
  padding: 15px;
  width: 250px;
  background-color: #1c437e;
  color: #dae0ea;
  background: transparent;
  outline: none;
}

.Input > input:focus {
  border: 2px solid #132f58;
}

::placeholder {
  color: #3766ab;
}

.Input > label {
  position: relative;
  top: 9px;
  background-color: #1c437e;
  color: #dae0ea;
  padding: 0 5px;
  font-size: 12px;
}

@media (min-width: 662px) {
  .Input > input {
    width: 400px;
  }
}
