.TaskLists {
  margin: 100px 10px;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
}

.ModalNewListInput {
  width: 70%;
  border: 0;
  padding: 10px;
  outline: #1c437e;
  color: #1c437e;
  font-size: 16px;
}

.ModalNewListInput::placeholder {
  font-size: 16px;
  color: #6296b8;
}

@media (min-width: 662px) {
  .TaskLists {
    margin: 150px 20px;
    justify-content: flex-start;
  }
  .ModalNewListInput {
    font-size: 20px;
  }

  .ModalNewListInput::placeholder {
    font-size: 20px;
  }
}
