.TaskList {
  border: 1px solid #1c437e;
  display: flex;
  color: #1c437e;
  margin: 10px;
  padding: 10px 20px 20px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: fit-content;
}

.FirstRow {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
}

.FirstRow span:last-child {
  margin-left: auto;
}

.DeleteTaskList {
  transition: color 0.1s ease-out;
}

.DeleteTaskList:hover {
  cursor: pointer;
  color: red;
}

.SecondRow {
  width: 100%;
  display: flex;
  align-items: center;
  flex-flow: column;
}

.NewTaskInput {
  border: 0;
  padding: 5px 0;
  font-weight: 400;
  width: 100%;
  outline: none;
  color: #1c437e;
  font-size: 16px;
}

.NewTaskInput::placeholder {
  color: #bde0f7;
  font-weight: 300;
}

.SecondRow button {
  /* margin-left: auto; */
  margin-right: 10px;
}

@media (min-width: 662px) {
  .TaskList {
    width: 28%;
  }
}
